body {
  font-family: "Fira Sans", Roboto, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
em {
  font-style: normal;
  color: #5898d4;
}

.q-carousel__navigation-icon {
  font-size: 5px !important;
  margin: 0 !important;
  color: #ccc !important;
}
.q-carousel__navigation-icon--active {
  color: #5898d4 !important;
}

/* google-webfonts-helper (https://gwfh.mranftl.com/fonts) */
/* fira-sans-regular - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fira-sans-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/fira-sans-v16-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fira-sans-v16-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fira-sans-v16-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/fira-sans-v16-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/fira-sans-v16-latin-regular.svg#FiraSans") format("svg"); /* Legacy iOS */
}
/* fira-sans-500 - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/fira-sans-v16-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/fira-sans-v16-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fira-sans-v16-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fira-sans-v16-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/fira-sans-v16-latin-500.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/fira-sans-v16-latin-500.svg#FiraSans") format("svg"); /* Legacy iOS */
}
/* fira-sans-regular - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fira-sans-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/fira-sans-v16-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fira-sans-v16-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fira-sans-v16-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/fira-sans-v16-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/fira-sans-v16-latin-regular.svg#FiraSans") format("svg"); /* Legacy iOS */
}
/* fira-sans-700 - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fira-sans-v16-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/fira-sans-v16-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fira-sans-v16-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fira-sans-v16-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/fira-sans-v16-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/fira-sans-v16-latin-700.svg#FiraSans") format("svg"); /* Legacy iOS */
}
/* fira-mono-regular - latin */
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fira-mono-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/fira-mono-v14-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fira-mono-v14-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fira-mono-v14-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/fira-mono-v14-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/fira-mono-v14-latin-regular.svg#FiraMono") format("svg"); /* Legacy iOS */
}
